/* Index/All */

.identity{
	margin: auto;
	height: 150px;
	border-radius: 500px;
	border: 5px solid grey;
}

body{
    font-family: serif;
}

#entete, #menu, #contenu, #footer {
    padding:1px 0;
    }

#entete {
    background-color:#2f435e;
    text-align:center;
    color:  #ececec;
}

#main {
    margin:auto;
}

#menu  {
    float:left;
    width:240px;
    background-color: grey;
}

#contenu {
    margin-left:255px;
    background-color:white;
}

#contenu h1{
    border-bottom: #2f435e solid 2px;
    width: fit-content;

}

#footer {
    background-color:#669933;
    text-align:center;
    clear:both;
}

.cv:hover{
    color: white;
}

ul{
    margin: 0;
    padding: 0;
}

.li_first{
    border-top: white solid 2px;
}

nav ul li {
    list-style-type: none;
    padding: 30px;
    border-bottom: white solid 2px;
}

a{
    text-decoration:none; 
    color: #2f435e;
}

ol li {
    padding: 15px;
}

#ico1{
	list-style-image: url('Images/logo-adresse.png');
}

#ico2{
	list-style-image: url('Images/phone-logo.png');
}

#ico3{
	list-style-image: url('Images/logo\ mail.jpg');
}

.li:hover a,.li:hover{
    background-color: #2f435e;
    color: #ececec;
}

/* Cursus scolaire */

table,td{
    border: solid black 2px;
    border-collapse: collapse;
    padding: 20px;
}

table caption{
    caption-side: bottom;
    color: #2f435e;
    font-weight: bold;
}

#cursus{
    background-color: grey;
    color: white;
    font-weight: bolder;
}

table{
    margin-left: 10%;
    margin-top: 100px;
}

.retour{
    position:fixed;
    right:30px;
    top: 100px;
    border:5px solid #2f435e;
    padding:10px;
    text-decoration: none;
    background-color: grey;
    color:white;
}

.retour:hover{
    color: #2f435e;
    background-color: white;
}

/* Compétences */

.compet{
    list-style-type:square;
    margin-left: 35%;
}

section h2{
    margin-left: 40%;
    text-decoration: underline #2f435e;
}

section p{
    margin-left: 35%;
}

/* Réalisations */

#Sud{
    list-style-image: url("Images/sudoku(1).png");
    margin-left: 70px;
    padding: 5px;
}

#Pac{
    list-style-image: url("Images/pacman(1).png");
    margin-left: 70px;
    padding: 5px;
}

#Cal{
    list-style-image: url("Images/calculatrice(1).jpg");
    margin-left: 70px;
    padding: 5px;
}

.CV{
    height: 300px;
}

/* Centres d'intérêt */

#fig1{
    height: 100px;
    border: grey solid 4px;
    margin:20px;
}

#fig2{
    height: 100px;
    border-radius: 400px;
    border:#2f435e solid 4px;
    margin:20px;
}

#fig3{
    height: 100px;
    border:#669933 solid 4px;
    margin:20px;
}

#interest{
    display: inline-block;
    margin: 30px;
}

/* Expériences professionnelles */

.exp{
    background-color: rgba(47,67,94,0.8);
    color: white;
}
