/* Index/All */

.identity{
	margin: auto;
	height: 150px;
	border-radius: 500px;
	border: 5px solid grey;
}

@font-face {
    font-family: "Raleway";
    src: url("Raleway-Regular.ttf");
}

body{
    font-family: "Raleway";
    margin: 0;
}

#entete, #menu, #contenu, #footer {
    padding:1px 0;
    }

#entete {
    background-color:#2f435e;
    text-align:center;
    color:  black;
}

#main {
    margin:auto;
}

#menu  {
    float:left;
    width:240px;
    background-color: #2f435e;
}

#contenu {
    margin-left:255px;
    background-color:white;
}

#contenu h1{
    border-bottom: #2f435e solid 2px;
    width: fit-content;

}

#footer {
    background-color:#669933;
    text-align:center;
    clear:both;
}

.cv:hover{
    color: white;
}

.cv:visited{
    color: white;
}

ul{
    margin: 0;
    padding: 0;
}

.li_first{
    border-top: black solid 2px;
}

nav ul li {
    list-style-type: none;
    padding: 30px;
    border-bottom: black solid 2px;
}

a{
    text-decoration:none; 
    color: white;
}

ol li {
    padding: 5px;
}

#ico1{
	list-style-image: url('Images/logo-adresse.png');
}

#ico2{
	list-style-image: url('Images/phone-logo.png');
}

#ico3{
	list-style-image: url('Images/logo\ mail.jpg');
}

.li:hover a,.li:hover{
    background-color: grey;
    color: #2f435e;
    font-weight: bold;
}

/* Cursus scolaire */

table,td{
    border: solid black 2px;
    border-collapse: collapse;
    padding: 20px;
}

table caption{
    caption-side: bottom;
    color: #2f435e;
    font-weight: bold;
}

#cursus{
    background-color: grey;
    color: white;
    font-weight: bolder;
}

table{
    margin: 10px 0 0 10px;
}

.retour{
    color: black;
}

.retour:hover{
    color: white;
}

.etudes{
    color: black;
}

.etudes:hover{
    color: #2f435e;
}

/* Compétences */

.compet{
    list-style-type:square;
}

section h2{
    text-decoration: underline #2f435e;
}

.colonne{
    columns: 3;
    column-gap: 20px;
    column-rule: 3px dashed #2f435e;
    margin-top: 40px;
    padding: 20px;
}

/* Réalisations */

#Sud, #Pac, #Cal {
    margin: 10px 0 0 70px;
    padding: 5px;
}

#Sud{
    list-style-image: url("Images/sudoku(1).png");
}

#Pac{
    list-style-image: url("Images/pacman(1).png");
}

#Cal{
    list-style-image: url("Images/calculatrice(1).jpg");
}

.CV{
    height: 100px;
}

#CV{
    margin: 30px 0 0 30px;
    list-style-type: none;
}

/* Centres d'intérêt */


#fig1{
    height: 100px;
    border: grey solid 4px;
    margin:20px;
}

#fig2{
    height: 100px;
    border-radius: 400px;
    border:#2f435e solid 4px;
    margin:20px;
}

#fig3{
    height: 100px;
    border:#669933 solid 4px;
    margin:20px;
}

#interest{
    display: inline-block;
    margin: 30px;
}

/* Expériences professionnelles */

.exp{
    background-color: rgba(47,67,94,0.8);
    color: white;
}

.stage::before{
    content:url("Images/forêt.jpg");
    height: 50px;
}

.tablexp{
    overflow: auto;
}